footer {
  background-color: #222;
  color: #fff;
  text-align: center;
  padding: 30px 20px;
  margin-top: 60px;
}

.footer-content nav a {
  color: #f9c900;
  margin: 0 10px;
  text-decoration: none;
  font-size: 14px;
}

.socials {
  margin-top: 15px;
}

.socials a {
  display: inline-block;
  margin: 0 8px;
  transition: transform 0.3s ease;
}

.socials img {
  width: 24px;
  height: 24px;
  filter: brightness(1) invert(2); /* make icons white */
}

.socials a:hover {
  transform: scale(1.2);
}
